%h1= @question.text

= simple_form_for [@question, @answer] do |f|
  = f.input_field :text, :label => false, :placeholder => 'Leave your answer, be honest'
  = f.submit 'Answer'

- @question.answers.each do |answer|
  .answer
    = timeago(answer.updated_at)
    %p= answer.text
