%h1= @question.text
- set_meta_tags :title => @question.text

= simple_form_for [@question, @answer], :remote => true do |f|
  = f.input_field :text, :label => false, :placeholder => 'Leave your answer, be honest', :tabindex => 1
  = f.submit 'Answer'

= render @question.answers


:javascript
  var faye = new Faye.Client("/faye")
  faye.subscribe('#{question_path(@question)}', function(data) {
    eval(data);
  });
  $('#answer_text').focus();
