= simple_form_for @question do |f|
  = f.input_field :text, :as => :string, :label => false, :placeholder => 'Ask anything important for you'
  = f.submit 'Ask'

- if @viewed_questions.any?
  - @viewed_questions.each do |question|
    .question
      = timeago( (question.answers.last || question).updated_at )
      %p= link_to question.text, question_url(question)

:javascript
  $('#question_text').focus();
