!!!
%html
  %head
    = display_meta_tags :site => 'Honestanswer'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "#{root_url}faye.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .fluid-container
          = link_to "Honestanswer", "/", :class => 'brand'
          -# %ul.nav
          -#   %li= link_to "Link1", "/path1"
          -#   %li= link_to "Link2", "/path2"
          -#   %li= link_to "Link3", "/path3"
    .fluid-container.sidebar-left
      .fluid-sidebar
        .well
          %h3 Recently Viewed Questions
          - if viewed_questions.any?
            %ul.unstyled
              - viewed_questions.each do |question|
                %li
                  %p
                  = link_to question.text, question_url(question)
                  = timeago( (question.answers.last || question).updated_at )
          - else 
            %p No questions viewed yet.
      .fuild-content
        .well= yield
