!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    = display_meta_tags :site => 'Honest Answer'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "#{root_url}faye.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      = link_to 'Honest Answer', root_path, :class => 'logo'
      -# %ul.user_menu
      -#   - if current_user
      -#     %li== Hello, #{current_user.username}
      -#     %li= link_to "Sign out", logout_path, :method => :delete
      -#   - else
      -#     %li= link_to "Sign in", login_path
      -#     %li= link_to "Sign up", signup_path
    - flash.each do |name, msg|
      = content_tag :div, msg, :class => "flash #{name}" if msg.is_a?(String)
    #content= yield
