!!!
%html
  %head
    = display_meta_tags :site => 'Honestanswer'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "#{root_url}faye.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:style => "padding-top: 60px"}
    .topbar
      .topbar-inner
        .container-fluid
          %h3= link_to "Honestanswer", "/"
          -# %ul.nav
          -#   %li= link_to "Link1", "/path1"
          -#   %li= link_to "Link2", "/path2"
          -#   %li= link_to "Link3", "/path3"
    .container-fluid
      .sidebar
        .well
          %h5 Recently Viewed Questions
          - if viewed_questions.any?
            %ul.unstyled
              - viewed_questions.each do |question|
                %li
                  %p
                  = link_to question.text, question_url(question)
                  = timeago( (question.answers.last || question).updated_at )
          - else 
            %p No questions viewed yet.
      .content
        = yield
